---
component: AUI Select2
layout: main-layout.html
---
<a href="https://design.atlassian.com/latest/product/patterns/typeahead/" class="aui-button aui-button-link docs-meta-link">Design guidelines</a>

<h3>Summary</h3>

<p><a href="http://ivaynberg.github.io/select2/" target="_blank">Select2</a> is a third party replacement for select
    boxes. It supports searching, remote data sets, and infinite scrolling of results. AUI provides a visual wrapper
    around Select2 to style it according to the <a href="https://developer.atlassian.com/design/latest/">Atlassian
        Design Guidelines (ADG)</a>.</p>

<h3>Status</h3>
<table class="aui summary">
    <tbody>
    <tr>
        <th>API status:</th>
        <td><span class="aui-lozenge aui-lozenge-success">general</span></td>
    </tr>
    <tr>
        <th>Included in AUI core?</th>
        <td><span class="aui-lozenge aui-lozenge-current">Not in core</span> You must explicitly require the web
            resource key.
        </td>
    </tr>
    <tr>
        <th>Web resource key:</th>
        <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-select2"><code>com.atlassian.auiplugin:aui-select2</code>
        </td>
    </tr>
    <tr>
        <th>AMD Module key:</th>
        <td class="resource-key">N/A</td>
    </tr>
    <tr>
        <th>Experimental since:</th>
        <td>5.3</td>
    </tr>
    <tr>
        <th>General API status:</th>
        <td>5.8</td>
    </tr>
    </tbody>
</table>
<h3>Examples</h3>

<div class="aui-flatpack-example">
    <form class="aui">
        <select id="select2-example" multiple>
            <option value="CONF">Confluence</option>
            <option value="JIRA">JIRA</option>
            <option value="BAM">Bamboo</option>
            <option value="JAG">JIRA Agile</option>
            <option value="CAP">JIRA Capture</option>
            <option value="AUI">AUI</option>
        </select>
    </form>

    <script>
        AJS.$("#select2-example").auiSelect2();
    </script>
</div>

<h3>Code</h3>
<aui-docs-example>
    <script is="aui-docs-code" type="text/html">
        <form class="aui">
            <select id="select2-example" multiple="">
                <option value="CONF">Confluence</option>
                <option value="JIRA">JIRA</option>
                <option value="BAM">Bamboo</option>
                <option value="JAG">JIRA Agile</option>
                <option value="CAP">JIRA Capture</option>
                <option value="AUI">AUI</option>
            </select>
        </form>
    </script><!--</aui-docs-code>-->

    <script is="aui-docs-code" type="text/js">
        AJS.$("#select2-example").auiSelect2();
    </script><!--</aui-docs-code>-->
</aui-docs-example>




<p> These docs only show the method to call the ADG-styled Select2. The options passed into the function are the
    same as the original Select2. You can see the full docs <a href="http://ivaynberg.github.io/select2/">here</a>.
</p>
