---
component: Template
layout: main-layout.html
---

<h3>Summary</h3>
<p>Provides basic HTML templating functionality.</p>
<div class="aui-message aui-message-warning warning">
    <p class="title"><strong>Soy preferred</strong>
    </p>Usage of Template is not encouraged if a Soy template is available and/or you can write in Soy instead. Template will be phased out in future.</div>

<h3>Status</h3>
<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><span class="aui-lozenge aui-lozenge-success">general</span>
            </td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td>Yes. You do not need to explicitly require the web resource key.</td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:ajs"><code>com.atlassian.auiplugin:ajs</code>
            </td>
        </tr>
        <tr>
            <th>AMD Module key:</th>
            <td class="resource-key">N/A</td>
        </tr>
        <tr>
            <th>Experimental since:</th>
            <td>3.0</td>
        </tr>
    </tbody>
</table>



<h3>Code</h3>
<h4>Usage guide</h4>
<ul>
    <li>Provides the ability to populate a simple string template with data values.</li>
    <li> Template can be provided as a string literal or retrieved from a specific kind of markup used for templates.</li>
    <li> Data values are provided as a JavaScript object.</li>
    <li> By default, data values are automatically HTML-encoded before insertion into the template.</li>
</ul>
<p>AUI Template should be used for the following scenarios:</p>
<ul>
    <li>When you need to use a custom snippet of HTML, populated with data provided by the user or in a JSON response.</li>
</ul>
<p>Do NOT use Template for these situations:</p>
<ul>
    <li>If you want complicated logic in your template language. These templates are designed to be brain-dead simple.</li>
</ul>



<h4>Simple example</h4>

<p>At its simplest, you can use <code>AJS.template</code> completely from JavaScript:</p>

<script is="aui-docs-code" type="text/html">
    <script type="text/x-template" title="markup-template">
        <p>Hello, {name}. Welcome to {application}.</p>
    </script>
</script><!--/aui-docs-code-->

<p>In this example, the <code>{location}</code> variable is replaced with the value of the <code>location</code> key in the data object. On the last line, the output of the template, "Hello, world!", is appended to the element with an ID of <code>result</code>.</p>
<p>Note that <code>AJS.template.fill()</code> (and its non-escaping counterpart fillHtml()) returns a template object rather than the string value of the populated template, so you will need to write code like the following if you are passing the populated template to
    something that expects a string:</p>

<script is="aui-docs-code" type="text/js">
    // note - toString() is required because fill() returns template object
    alert(template.fill(data).toString());
</script><!--/ aui-docs-code -->



<h4>Markup examples</h4>

<p>It is often useful to put templates in HTML for later retrieval from JavaScript. You can do this with <code>AJS.template</code> by putting a <code>&lt;script type="text/x-template"&gt;</code> element in your markup, with a title attribute to specify the unique name
    of your template:</p>

<aui-docs-example>
    <script is="aui-docs-code" type="text/js">
        var template = AJS.template("Hello, {location}!");
        var data = { location: "world" };
        console.log(template.fill(data));
    </script>
</aui-docs-example>

<p>In this example, the template's name is "markup-template" and its body is the content of the script element.</p>
<p>Here's how you might load and populate this template multiple times in JavaScript:</p>

<script is="aui-docs-code" type="text/html">
    var data = [
        { name: 'John', application: 'Atlassian JIRA' },
        { name: 'Mary', application: 'Atlassian Confluence' };
    ];

    for (var i = 0; i < data.length; i++) {
        document.getElementById('result').append(AJS.template.load('markup-template').fill(data[i]));
    }
</script><!--/ aui-docs-code -->



<h4>Complicated example</h4>

<p>First, we define a bunch of templates in the markup, using &lt;script type="text/x-template"&gt; elements and using the title attribute to give a unique name for each template:</p>

<script is="aui-docs-code" type="text/html">
    <script type="text/x-template" title="test-main">
        <p>Demonstration of the templating mechanism.</p>
        <p{class}>Hello, {title}{name()}</p>
        {list}
    </script>
    <script type="text/x-template" title="test-class"> class="marked"</script>
    <script type="text/x-template" title="test-fulllist">
        <ul>{list}</ul>
    </script>
    <script type="text/x-template" title="test-emptylist">
        <p>List is empty</p>
    </script>
    <script type="text/x-template" title="test-list">
        <li><a href="{url}">{name}</a></li>
    </script>
</script><!--/aui-docs-code-->

<p>This is a JSON data object returned from the server that we will transform and use to populate the template:</p>

<script is="aui-docs-code" type="text/js">
    var json = {
        name: function () {
            return 'Abraham Gopnik';
        },
        list: [
            { url: 'http://apple.com', name: 'Apple' },
            { url: 'http://google.com', name: 'Google' }
        ],
        marked: true
    };
</script><!--/ aui-docs-code -->

<p>Then, here's an example of some template manipulation logic in JavaScript:</p>

<script is="aui-docs-code" type="text/js">
    function transform(json) {
        if (json.marked) {
            json['class:html'] = AJS.template.load('test-class');
        }

        var list = '';

        for (var i = 0, ii = json.list && json.list.length; i < ii; i++) {
            list += AJS.template.load("test-list").fill(json.list[i]);
        }

        json['list:html'] = ii ?
            AJS.template.load('test-fulllist').fillHtml({ list: list }) :
            AJS.template.load('test-emptylist');

        delete json.list;

        return json;
    }
</script><!--/ aui-docs-code -->

<p>And this is the code to put it all together:</p>

<script is="aui-docs-code" type="text/js">
    var compiled = AJS.template.load('test-main').fill(transform(json));

    // we could fill title separately
    compiled.fill({ 'title:html': '<strong>Mr.</strong> ' });

    document.getElementById('result').innerHTML = compiled;
</script><!--/ aui-docs-code -->

<p>Here is the result:</p>

<script is="aui-docs-code" type="text/html">
    <p>Demonstration of the templating mechanism.</p>
    <p class="marked">Hello, <strong>Mr.</strong> Abraham Gopnik</p>
    <ul>
        <li><a href="http://apple.com">Apple</a></li>
        <li><a href="http://google.com">Google</a></li>
    </ul>
</script><!--/ aui-docs-code -->
