---
component: Tooltips
layout: main-layout.html
---

<a href="https://design.atlassian.com/latest/product/components/tooltips/" class="aui-button aui-button-link docs-meta-link">Design guidelines</a>

<h3>Summary</h3>

<p>Tooltips can describe a UI element in a little bit more detail when users deliberately hover on an element.</p>

<h3>Status</h3>
<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><span class="aui-lozenge aui-lozenge-success">general</span></td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td><span class="aui-lozenge aui-lozenge-current">Not in core</span> You must explicitly require the web
                resource key.
            </td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-tooltips"><code>com.atlassian.auiplugin:aui-experimental-tooltips</code>
            </td>
        </tr>
        <tr>
            <th>AMD Module key:</th>
            <td class="resource-key">N/A</td>
        </tr>
        <tr>
            <th>Experimental since:</th>
            <td>5.1</td>
        </tr>
        <tr>
            <th>General API status:</th>
            <td>5.8</td>
        </tr>
    </tbody>
</table>

<h3>Examples</h3>
<a id="simple-tooltip-example" href="http://example.com/" title="This is a simple tooltip">Hover over me</a>
<script>
    AJS.$("#simple-tooltip-example").tooltip();
</script>
<h3>Code</h3>

<aui-docs-example>
    <script is="aui-docs-code" type="text/html">
        <a id="simple-tooltip" href="http://example.com/" title="This is a simple tooltip">tooltip</a>
    </script><!--</aui-docs-code>-->
    <script is="aui-docs-code" type="text/js">
        AJS.$("#simple-tooltip").tooltip();
    </script><!--</aui-docs-code>-->
</aui-docs-example>
<p>Calling .tooltip() will create a tipsy tooltip with ADG style and default options applied.</p>

<h3>Options</h3>

<p> Options are set by passing in an options object.</p>

<p>You can control the direction/positioning of the tooltip by setting the "gravity" option:</p>
<script is="aui-docs-code" type="text/js">
    AJS.$('#north').tooltip({gravity: 'n'});
    AJS.$('#south').tooltip({gravity: 's'});
    AJS.$('#east').tooltip({gravity: 'e'});
    AJS.$('#west').tooltip({gravity: 'w'});
    AJS.$('#north-west').tooltip({gravity: 'nw'});
    AJS.$('#north-east').tooltip({gravity: 'ne'});
    AJS.$('#south-west').tooltip({gravity: 'sw'});
    AJS.$('#south-east').tooltip({gravity: 'se'});
</script><!--/ aui-docs-code -->
<p> The text of the tooltip can be set arbitrarily: </p>
<aui-docs-example>
    <script is="aui-docs-code" type="text/js">
        AJS.$('#custom-tooltip').tooltip({
            title: function () {
                var index = AJS.$("a").index(this);
                return "This is link number " + index + " in all of the page";
            }
        });
    </script><!--</aui-docs-code>-->
    <script is="aui-docs-code" type="text/html">
        <a id="custom-tooltip" href="http://example.com/">Custom tooltip</a>
    </script><!--</aui-docs-code>-->
</aui-docs-example>
<ul>
    <li>AUI uses a forked copy of Tipsy, which adds things like ARIA support. See <a
            href="https://github.com/atlassian/tipsy">https://github.com/atlassian/tipsy</a> for details.
    </li>
    <li>For a list of core tipsy options, see <a href="http://onehackoranother.com/projects/jquery/tipsy/">http://onehackoranother.com/projects/jquery/tipsy/</a>
    </li>
</ul>
